<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="all" />
    </root>
    <logger name="a1">
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender1" />
    </logger>
    <logger name="a2">
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender2" />
    </logger>
    <appender name="all" type="log4net.Appender.FileAppender" >
      <param name="File" value="log-file.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender1" type="log4net.Appender.FileAppender" >
      <param name="File" value="log-file1111111.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender2" type="log4net.Appender.FileAppender" >
      <param name="File" value="log-file2222222.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>