<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="cachings" type="Fireasy.Common.Caching.Configuration.CachingConfigurationSectionHandler, Fireasy.Common"/>
      <section name="loggings" type="Fireasy.Common.Logging.Configuration.LoggingConfigurationSectionHandler, Fireasy.Common"/>
      <section name="containers" type="Fireasy.Common.Ioc.Configuration.ContainerConfigurationSectionHandler, Fireasy.Common"/>
      <section name="imports" type="Fireasy.Common.Composition.Configuration.ImportConfigurationSectionHandler, Fireasy.Common"/>
      <section name="log" type="Fireasy.Common.Configuration.Test.LoggingSectionHandler, Fireasy.CommonTests"/>
      <section name="test1" type="Fireasy.Common.Configuration.Test.Test1ConfigurationSectionHandler, Fireasy.CommonTests"/>
      <section name="test2" type="Fireasy.Common.Configuration.Test.Test2ConfigurationSectionHandler, Fireasy.CommonTests"/>
    </sectionGroup>
  </configSections>
  <fireasy>
    <cachings>
      <caching type="Fireasy.Common.Caching.Test.InnerCacheManager, Fireasy.CommonTests"/>
    </cachings>
    <loggings>
      <logging type="Fireasy.Common.Configuration.Test.MyLogging,Fireasy.CommonTests">
        <file format="%d %e" fileName="log.txt"/>
        <database format="%d %e" providerType="SqlServer" connectionString="" table="tb_log"/>
      </logging>
    </loggings>
    <log>
      <file format="%d %e" directory="d:\" fileName="{yyyy}-{mm}-{dd}.txt"></file>
      <database format="%d %e" providerType="SqlServer" connectionString="" table="tb_log"></database>
    </log>
    <containers>
      <container name="c1">
        <registration serviceType="Fireasy.Common.Ioc.Test.IBClass, Fireasy.CommonTests" componentType="Fireasy.Common.Ioc.Test.BClass1, Fireasy.CommonTests"></registration>
      </container>
      <container name="c2">
        <registration serviceType="Fireasy.Common.Ioc.Test.IBClass, Fireasy.CommonTests" componentType="Fireasy.Common.Ioc.Test.BClass2, Fireasy.CommonTests"></registration>
      </container>
    </containers>
    <imports>
      <import assembly="Fireasy.CommonTests"></import>
    </imports>
    <test1 server="127.0.0.1" port="4436">
    </test1>
    <test2>
      <nd name="a1" method="put"></nd>
      <nd name="a2" method="get"></nd>
    </test2>
  </fireasy>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
