<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="dataInstances" type="Fireasy.Data.Configuration.InstanceConfigurationSectionHandler, Fireasy.Data" />
      <section name="containers" type="Fireasy.Common.Ioc.Configuration.ContainerConfigurationSectionHandler, Fireasy.Common" />
      <sectionGroup name="web">
        <section name="bundles" type="Fireasy.Web.Configuration.BundleGroupConfigurationSectionHandler, Fireasy.Web" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="error-page" value="~/Error/Index" />-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <fireasy>
    <!-- 数据库实例配置 -->
    <dataInstances default="sqlite">
      <instance name="sqlite" providerType="SQLite" connectionString="Data source=|datadirectory|app_data/demo.db;Pooling=True;tracking=true"></instance>
      <instance name="mysql" providerType="MySql" connectionString="Data Source=192.168.0.250;database=demo;User Id=hy;password=huanyisoft;pooling=true;charset=utf8;tracking=true"></instance>
    </dataInstances>
    <containers>
      <container>
        <registration serviceType="MvcDemo.Common.IMessageTest, MvcDemo" componentType="MvcDemo.Common.MessageTest, MvcDemo"></registration>
      </container>
    </containers>
    <web>
      <!-- 配置bundle组 -->
      <bundles enableOptimization="false">
        <bundle name="base">
          <script>~/scripts/jquery-1.11.3.min.js</script>
          <!--<script>~/scripts/bootstrap.min.js</script>-->
          <script>~/scripts/jquery.easyui-1.4.3.min.js</script>
          <script>~/scripts/locale/easyui-lang-zh_CN.js</script>
          <script>~/scripts/jquery.easyui.patch.js</script>
          <script>~/scripts/jquery.easyui.extend.js</script>
          <script>~/scripts/lhgdialog.js</script>
          <script>~/scripts/common.js</script>
          <!--<style>~/styles/bootstrap.css</style>-->
          <style>~/content/themes/default/easyui.css</style>
          <style>~/content/themes/icon.css</style>
          <style>~/content/skins/blue.css</style>
          <style>~/content/main.css</style>
          <style>~/content/easyui-big.css</style>
        </bundle>
        <bundle name="verifycode">
          <script>~/scripts/jquery.verifycode.min.js</script>
        </bundle>
        <bundle name="upload">
          <script>~/scripts/jquery.uploader.min.js</script>
        </bundle>
        <bundle name="chart">
          <script>~/scripts/highcharts.js</script>
          <script>~/scripts/highcharts-exporting.js</script>
          <script>~/scripts/highcharts-more.js</script>
        </bundle>
      </bundles>
    </web>
  </fireasy>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fireasy.Common" publicKeyToken="31261c3914251779" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.45.42050" newVersion="1.5.45.42050" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fireasy.Web.Mvc" publicKeyToken="31261c3914251779" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.45.42038" newVersion="1.5.45.42038" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fireasy.Web" publicKeyToken="31261c3914251779" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.45.42040" newVersion="1.5.45.42040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fireasy.EasyUI" publicKeyToken="31261c3914251779" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.45.42040" newVersion="1.5.45.42040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fireasy.Data.Entity" publicKeyToken="31261c3914251779" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.45.42050" newVersion="1.5.45.42050" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fireasy.Data" publicKeyToken="31261c3914251779" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.45.42050" newVersion="1.5.45.42050" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fireasy.Data.Validation" publicKeyToken="31261c3914251779" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.45.42050" newVersion="1.5.45.42050" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>