<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="dataInstances" type="Fireasy.Data.Configuration.InstanceConfigurationSectionHandler, Fireasy.Data" />
      <section name="dataProviders" type="Fireasy.Data.Provider.Configuration.ProviderConfigurationSectionHandler, Fireasy.Data" />
    </sectionGroup>
  </configSections>
  <fireasy>
    <dataInstances>
      <instance providerType="SQLite" connectionString="Data source=|datadirectory|../../../documents/db/northwind.db3;Pooling=True;tracking=true"></instance>
      <instance name="mysql" providerType="MySql" connectionString="Data Source=localhost;database=Northwind;User Id=root;password=faib;pooling=true;charset=utf8"></instance>
      <instance name="mssql" providerType="MsSql" connectionString="data source=(local);user id=sa;password=123;initial catalog=fireasy-db;tracking=true"></instance>
      <instance name="mssql1" providerType="MsSql" connectionString="data source=(local);Integrated Security=SSPI;AttachDBFileName=|DataDirectory|../../../documents/db/Northwind.mdf"></instance>
      <instance name="oracle" providerType="Oracle" connectionString="Data Source=192.168.0.10/orcl;User ID=hyhrdba;Password=HY;"></instance>
      <instance name="oracle1" providerName="OracleDataAccess" connectionString="Data Source=orcl;User ID=fireasy-db;Password=123;"></instance>
      <instance name="oracle2" providerType="Oracle" connectionString="Data Source=192.168.0.250/PEZYY;User ID=PEZYY;Password=pezyy;"></instance>
      <instance name="sqlite" providerType="SQLite" connectionString="Data source=|datadirectory|../../../documents/db/fireasy.db;Pooling=True;tracking=true"></instance>
      <instance name="sqlite1" providerType="SQLite" connectionString="Data source=|datadirectory|../../../documents/db/northwind.db3;Pooling=True;tracking=true"></instance>
      <instance name="pqsql" providerType="PostgreSql" connectionString="Server=localhost;Database=postgres;Port=5432;Userid=postgres;password=faib;Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Encoding=UNICODE;Timeout=15;SslMode=Disable"></instance>
      <instance name="access" providerType="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data source=|DataDirectory|../../../documents/db/Northwind.accdb"></instance>
      <instance name="reg1" storeType="registry" rootKey="hcu" subKey="software\fireasy" valueKey="test1"></instance>
      <instance name="excel" providerType="OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|datadirectory|../../../documents/db/db.xls;Extended Properties='Excel 8.0;HDR=yes'"></instance>
      <instance name="firebird" providerType="Firebird" connectionString="initial catalog=|datadirectory|../../../documents/db/northwind.fdb;User Id=sysdba;password=masterkey;"></instance>
    </dataInstances>
    <dataProviders>
      <provider name="OracleDataAccess" type="Fireasy.Data.Provider.OracleAccessProvider, Fireasy.Data"></provider>
      <provider name="CustomProvider" type="Fireasy.Data.Provider.Test.CustomProvider, Fireasy.DataTests">
        <service type="Fireasy.Data.Provider.Test.CustomSyntaxProvider, Fireasy.DataTests"></service>
        <service type="Fireasy.Data.Provider.Test.CustomBatcherProvider, Fireasy.DataTests"></service>
      </provider>
    </dataProviders>
  </fireasy>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>