<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="dataInstances" type="Fireasy.Data.Configuration.InstanceConfigurationSectionHandler, Fireasy.Data"/>
      <section name="dataProviders" type="Fireasy.Data.Provider.Configuration.ProviderConfigurationSectionHandler, Fireasy.Data"/>
    </sectionGroup>
  </configSections>
  <fireasy>
    <dataInstances default="sqlite">
      <instance name="mysql" providerType="MySql" connectionString="Data Source=localhost;database=fireasy-db;User Id=root;password=faib;pooling=true;charset=utf8"></instance>
      <instance name="mssql" providerType="MsSql" connectionString="data source=(local);user id=sa;password=123;initial catalog=fireasy-db;tracking=true"></instance>
      <instance name="oracle" providerType="Oracle" connectionString="Data Source=orcl;User ID=fireasy-db;Password=123;"></instance>
      <instance name="oracle1" providerName="OracleDataAccess" connectionString="Data Source=orcl;User ID=fireasy-db;Password=123;"></instance>
      <instance name="sqlite" providerType="SQLite" connectionString="Data source=|datadirectory|../../../documents/db/fireasy.db;Pooling=True;tracking=false"></instance>
    </dataInstances>
    <dataProviders>
      <provider name="OracleDataAccess" type="Fireasy.Data.Provider.OracleAccessProvider, Fireasy.Data"></provider>
    </dataProviders>
  </fireasy>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
